/******************************
*つき数字
******************************/
@use "../../foundation/forwards" as *;

.c-annotationMark {
  font-size: rem(12);
  font-weight: 700;
  line-height: 1.2;
  vertical-align: top;
  @include mq("pc") {
    line-height: 1;
  }
}