/******************************
balloon（吹き出し）
******************************/
@use "../../foundation/forwards" as *;

.c-balloon {
  position: relative;
  padding-top: rem(18);
  padding-right: rem(3);
  padding-bottom: rem(18);
  margin-bottom: rem(25);
  background-color: $color-main;
  border-radius: 5px;
  color: $color-white;
  font-size: clamp(1rem, 0.928rem + 0.31vw, 1.125rem);
  font-weight: 700;
  line-height: 1;
  text-align: center;
  @include mq("pc") {
    padding-top: rem(16);
    padding-bottom: rem(16);
    font-size: clamp(1.125rem, 0.875rem + 0.39vw, 1.25rem);
  }
  &::after{
    content: "";
    width: 16px;
    height: 17px;
    background-image: url(../../../img/img_triangle-sp.png);
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    @include mq("pc") {
      height: 16px;
      background-image: url(../../../img/img_triangle-pc.png);
    }
  }
}