/******************************
フェードイン
******************************/
@use "../../foundation/forwards" as *;

.c-fadeIn{
  transition: opacity 0.7s, transform 0.7s;
  transform: translateY(150px);
  opacity: 0;
}

.is-inview {
  transform: translateX(0);
  opacity: 1;
}