/******************************
フォーム
******************************/
@use "../../foundation/forwards" as *;

.c-form{

  &__item{
    label,
    input {
      display: block;
    }

    label {
      font-size: rem(14);
      line-height: 1;
    }

    input {
      border-radius: 5px;
      border: 1px solid #CED4DA;
      background: #F5F8FA;
    }
  }

}