/******************************
フォーム
******************************/
@use "../../foundation/forwards" as *;

.c-form{

  &__item{
    margin-bottom: rem(15);

    &:last-of-type{
      margin-bottom: rem(24);
    }

    label,
    input {
      display: block;
    }

    label {
      font-size: rem(14);
      line-height: 1;
      margin-bottom: rem(8);

      &::after {
        content: "*";
        font-size: rem(14);
        line-height: 1;
        color: $color-red;
      }
    }

    input {
      width: 100%;
      border-radius: 5px;
      border: 1px solid #CED4DA;
      background: #F5F8FA;
      padding: rem(15) rem(7);
      line-height: 1;

      &::placeholder{
        color: #aaa;
        line-height: 1;
      }
    }
  }

  &__itemGroup {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(15);
  
     .c-form__item {
      width: calc(50% - 4px);
    }
  }

  &__pp {
    margin-bottom: rem(40);
    font-size: rem(12);
    line-height: 1.5;
    @include mq("pc") {
      font-size: rem(14);
      margin-bottom: rem(31);
    }
  }

  &__btn {
      padding: rem(13) rem(27);
      color: $color-white;
      font-weight: 700;
      line-height: 1;
      background-color: $color-main;
      border-radius: 40px;
      display: block;
      margin: 0 auto;
    }

    &__btn.is-disabled {
      cursor: not-allowed;
    }
}