/******************************
アイコン
******************************/
@use "../../foundation/forwards" as *;

.c-icon--plusMinus {
  --bar-w: 16px;
  --bar-h: 2px;
  --bar-wpc: 32px; //PC用

  display: inline-block;
  position: relative;
  width: var(--bar-w);
  height: var(--bar-w);
  @include mq("pc") {
    width: var(--bar-wpc);
    height: var(--bar-wpc);
  }
  
  &::before, 
  &::after {
    position: absolute;
    display: block;
    content: '';
    top: 50%;
    left: 50%;
    background-color: $color-text;
    transform: translateY(-50%) translateX(-50%);
    transition: all .3s ease-in-out;
  }

  &::before {
    width: var(--bar-w);
    height: var(--bar-h);
    opacity: 1;
    @include mq("pc") {
      width: var(--bar-wpc);
    }
  }
  &::after {
    width: var(--bar-h);
    height: var(--bar-w);
    opacity: 1;
    @include mq("pc") {
      height: var(--bar-wpc);
    }
  }
}