/******************************
アイコン
******************************/
@use "../../foundation/forwards" as *;

.c-icon--plusMinus {
  --bar-w: 16px;
  --bar-h: 2px;

  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  
  &::before, 
  &::after {
    position: absolute;
    display: block;
    content: '';
    top: 50%;
    left: 50%;
    width: var(--bar-w);
    height: var(--bar-h);
    background-color: $color-text;
    transform: translateY(-50%) translateX(-50%);
    transition: all .3s ease-in-out;
  }

  &::before {
    width: var(--bar-w);
    height: var(--bar-h);
    opacity: 1;
  }
  &::after {
    width: var(--bar-h);
    height: var(--bar-w);
    opacity: 1;
  }
}