/******************************
achievements
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.p-achievements {
  padding-top: rem(40);
  padding-bottom: rem(36);
  @include mq("pc") {
    padding-top: rem(80);
    padding-bottom: rem(48);
  }

  &__title {
    font-size: clamp(1.25rem, -1rem + 4.69vw, 2rem);
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: rem(30);
    @media (max-width: 340px) {
      font-size: rem(18);
    }
    @include mq("pc") {
      margin-bottom: rem(40);
    }
  }

  &__images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: rem(8);
    margin-bottom: rem(39);
    @include mq(tab) {
      flex-direction: row;
      gap: pc-vw(84);
      margin-bottom: rem(64);
    }

    .p-achievements__img{
      width: rem(280);
      height: auto;
      object-fit: contain;
      @include mq("pc") {
        width: pc-vw(428);
      }
    }
  }

  &__swiper {
    width: 100%;


    .swiper-wrapper {
      transform:translate3d(0,0,0);
      transition-timing-function: linear !important;

      .swiper-slide {
        width: auto !important;
        height: rem(64);     // slide の高さ
        @include mq("pc") {
          height: rem(99);
        }

        img {
          height: 100%;
          width: auto;
          object-fit: contain;
        }
      }
    }
  }
}

