/******************************
CTA
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.p-cta {
  width: 100%;
  padding-top: rem(40);
  padding-bottom: rem(40);
  background-image: url(../img/bg_cta--sp.jpg);
  background-size: cover;
  margin-bottom: rem(36);
  @include mq("tab") {
    padding-top: rem(60);
    padding-bottom: rem(61);
    background-image: url(../img/bg_cta--pc.jpg);
    margin-bottom: rem(42);
  }
  @include mq("pc") {
    margin-bottom: rem(48);
  }

  &__title {
    font-size: rem(24);
    font-weight: 700;
    color: $color-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: rem(39);
    @include mq("tab") {
      flex-direction: row;
      margin-bottom: rem(24);
    }
  }

  &__button {
    font-size: rem(20);
    line-height: 1;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    a {
      display: block;
      font-weight: 700;
      line-height: 1;
      color: $color-main;
      background-color: $color-white;
      border-radius: 25px;
      padding: rem(16) rem(50);
    }
  }

}