/******************************
examples
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.p-examples {
  padding-block: rem(36) rem(25);
  @include mq("pc") { 
    padding-block: rem(48);
    padding-bottom: rem(35);
  }
  h2 {
    color: #222;
    margin-bottom: rem(37);
    @include mq("pc") { margin-bottom: rem(53); }
  }
  &__swiper{
    width: 100%;
    max-width: calc(rem(405) + rem(32) *2);
    margin-inline: auto;
    @include mq("pc") {
      width: rem(988); 
      max-width: none;
    }

    .swiper-wrapper{
      .swiper-slide {
        width: 100%;
        display: flex;
        justify-content: center;
        @include mq("pc") {
          width: 487px;
        }

        .p-examples__card{
          position: relative;
          width: calc(100% - rem(32) * 2);
          max-width: calc(rem(405) + rem(32) *2);
          @include mq("pc") {
            width: calc(rem(405) + rem(54) + rem(10));
          }
          height: rem(471);
          padding: rem(31) rem(10) rem(20);
          margin-block: rem(20);
          border-radius: 30px 0;
          background-color: $color-white;
          box-shadow: 0px 5px 8px 3px rgba(51, 51, 51, 0.25);
          @include mq("pc") {
            height: 488px;
            padding: rem(32) rem(20) rem(20);
          }

          h3 {
            font-size: rem(18);
            font-weight: 700;
            margin-bottom: rem(24);
            @include mq("pc") { font-size: rem(24) ;}

            em {
              font-style: normal;
              color: $color-main;
            }
          }

          p {
            font-size: rem(12);
            line-height: 1.8;
            @include mq("pc") { font-size: rem(14) ;}
          }
          img {
            position: absolute;
            bottom: rem(20);
            left: rem(10);
            width: auto;
            aspect-ratio: auto;
            @include mq("tab") {
              left: rem(20);
            } 
          }
        }
      }
      
      .p-examples_slide01 .p-examples__card img,
      .p-examples_slide02 .p-examples__card img{ 
        height: rem(64);
      }
      .p-examples_slide03 .p-examples__card img {
        height: rem(81);
        
      }
      .p-examples_slide04 .p-examples__card img{
        height: rem(65);
      }

      .swiper-slide-active .p-examples__card { 
        @include mq("pc") {
          margin-left: rem(54);
        }
      }
      .swiper-slide-next .p-examples__card { 
        @include mq("pc") {
          margin-right: rem(54);
        }
      }
    }
    .p-examplesSwiper-button-prev,
    .p-examplesSwiper-button-next {
      position: absolute;
      top: 50%;
      translate: 0 -50%;
      width: rem(20);
      height: rem(20);
      background-size: contain;
      margin-top: 0;
      &::after { display: none; }
      @include mq(pc) {
        width: rem(34);
        height: rem(34);
      }
    }
    .p-examplesSwiper-button-next {
      right: rem(6);
      background-image: url(../img/icon-arrow_right.png);
      @include mq(pc) { right: 0; }
    }
    .p-examplesSwiper-button-prev {
      left: rem(6);
      background-image: url(../img/icon-arrow_left.png);
      @include mq(pc) { left: 0; }
    }
  }
}