/******************************
examples
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.p-examples {
  h2 {
    margin-bottom: rem(47);
    @include mq("pc") { margin-bottom: rem(63); }
  }
  &__swiper{
    width: 100%;
    max-width: rem(405);
    margin-inline: auto;
    padding: rem(10);
    @include mq("pc") {
      width: rem(1024); 
      max-width: rem(1024);
      padding: rem(10) rem(32); 
    }

    .swiper-wrapper{
      .swiper-slide {
        .p-examples__card{
          width: 100%;
          max-width: rem(405);
          @include mq(pc) {
            width: rem(405);
          }
          height: auto;
          padding: rem(31) rem(10) rem(20);
          border-radius: 30px 0;
          background-color: $color-white;
          box-shadow: 0px 5px 8px 3px rgba(51, 51, 51, 0.25);

          h3 {
            font-size: rem(18);
            font-weight: 700;
            margin-bottom: rem(24);
            @include mq("pc") { font-size: rem(24) ;}

            em {
              font-style: normal;
              color: $color-main;
            }
          }

          p {
            font-size: rem(12);
            margin-bottom: rem(132);
            @include mq("pc") { font-size: rem(14) ;}
          }
          img {
            position: absolute;
            bottom: rem(20);
            left: rem(10);
            width: auto;
            aspect-ratio: auto;
          }

          &:first-of-type img,
          &:nth-of-type(2) img{ 
            height: rem(64);
          }
          &:nth-of-type(3) img {
            height: rem(81);
            
          }
          &:last-of-type img {
            height: rem(65);
          }
        }
      }
    }
    .p-examplesSwiper-button-prev,
    .p-examplesSwiper-button-next {
      position: absolute;
      top: 50%;
      translate: 0 -50%;
      width: rem(20);
      height: rem(20);
      background-size: contain;
      &::after { display: none; }
      @include mq(pc) {
        width: rem(34);
        height: rem(34);
      }
    }
    .p-examplesSwiper-button-next {
      right: rem(6);
      background-image: url(../img/icon-arrow_right.png);
      @include mq(pc) { right: rem(20); }
    }
    .p-examplesSwiper-button-prev {
      left: rem(6);
      background-image: url(../img/icon-arrow_left.png);
      @include mq(pc) { left: rem(20); }
    }
  }
}