/******************************
FAQ
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.p-faq {
  &__inner{
    padding: rem(57) rem(16) rem(72);
    width: 100%;
    max-width: rem(480);
    margin-inline: auto;
    @include mq("pc") {
      padding: rem(96) auto rem(72);
      max-width: rem(1024);
    }

    .p-faq__title{
      margin-bottom: rem(48);
      @include mq("pc") {
        margin-bottom: rem(70);
      }
    }

    .p-faq__accordionDetails{
      display: flex;
      flex-direction: column;
      gap: 16px;
      @include mq("pc") {
        gap: rem(24);
      }

      .p-faq__accordionSummary{
        display: grid;//初期値のdisplay: list-item以外を指定しデフォルトの三角アイコンを非表示
        grid-template-columns: 1fr 24px;
        gap: 8px;
        align-items: center;
        cursor: pointer;
        padding: 16px 24px;
        font-weight: 700;
        color: $color-text;
        background-color: $color-main;
        /* Safariで表示されるデフォルトの三角形アイコンを消します */
        &::-webkit-details-marker {
          display: none;
        }
      }

      .p-faq__accordionInnerr{
        background: $color-white;
        padding: 24px 48px;
      }

      .js-accordionContent {
        overflow: hidden;
        height: 0;
      }
    }
  }
}

/* アコーディオンが開いた時のプラスアイコン */
.p-faq__accordionDetails[open] {
  .c-icon--plusMinus {
    &::before {
      transform: rotate(90deg);
      opacity: 0;
    }
    &::after {
      transform: translateY(-50%) translateX(-50%) rotate(90deg);
    }
  }
}