/******************************
fee
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.p-fee {
  
  &__inner{
    padding: rem(72) rem(31) rem(19) rem(32);
    width: 100%;
    max-width: rem(480);
    margin-inline: auto;
    @include mq("pc") {
      padding: rem(96) rem(56) rem(56);
      max-width: rem(1024);
    }

    .p-fee__title {
      line-height: 1;
      margin-bottom: rem(31);
      @include mq("pc") {
        margin-bottom: rem(69);
      }
    }

    .p-fee__cards {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: rem(12);
      margin-bottom: rem(48);

      .p-fee__card {
        width: rem(96);
        height: rem(91);
        flex-direction: column;
        gap: rem(12);
        background: $color-white;
        border-top: 6px solid $color-main;
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(51, 51, 51, 0.25);
        @include mq("pc") {
          width: rem(296);
          height: rem(277);
          border-width: 12px;
        }

        h3,
        p{
          font-size: rem(12);
          font-weight: 700;
          line-height: 1;;
          text-align: center;
        }
        h3 {
          margin-top: rem(8);
          margin-bottom: rem(12);
          @include mq("pc") {
            font-size: rem(24);
            margin-top: rem(32);
            margin-bottom: rem(23);
          }
        }

        p {
          @include mq("pc") {
            font-size: rem(32);
          }
          em {
            font-size: rem(36);
            font-style: normal;
            color: $color-main;
            @include mq("pc") {
              font-size: rem(96);
            }
          }
        }
      }
    }

    .p-fee__text {
      margin-right: rem(1);
      @include mq("pc") {
        margin-right: 0;
      }
      li {
        font-size: rem(12);
        @include mq("pc") {
            font-size: rem(14);
            line-height: 25px;
          }
      }
    }
  }
}