/******************************
インナー
******************************/
@use "../foundation/forwards" as *;

.l-inner {
  max-width: 1600px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}